.DS_Store
*.swp
*.swo
*.git

/build
/doc
/.pytest_cache
/__pycache__
/build/*
/doc/*
/.pytest_cache/*

.idea
.vscode
*.iml
*.class

venv
/venv
/.venv
/pip-wheel
/pip-wheelhouse
/pip-cache

requirements.lock
*.log

test/
tests/
*_test.py
*_tests.py
