numpy==1.26.4
scipy
lxml
pydub
fastapi
soundfile
omegaconf
pypinyin
vocos
pandas
vector_quantize_pytorch
einops
transformers~=4.41.1
omegaconf~=2.3.0
tqdm
# torch
# torchvision
# torchaudio

# TN
emojiswitch
python-dotenv
zhon
mistune==3.0.2

# gradio
gradio==4.39.0
gradio_client==1.1.1

# audio_denoiser
python-box
ftfy
librosa
pyrubberband
pybase16384
cachetools
langdetect
# NOTE: 截至2024/08/13，WeTextProcessing 安裝方法，需要在conda环境下，执行命令 conda install -c conda-forge pynini==2.1.6
# NOTE: 然后再执行命令 pip install WeTextProcessing==1.0.4
# WeTextProcessing

#### fish-speech
hydra-core
loguru
lightning
natsort
pyrootutils
loralib
wandb

### cosyvoice
hyperpyyaml
openai-whisper
onnxruntime
inflect
matcha-tts

# whisper
faster_whisper

# webui
pysubs2
