numpy==1.26.4
scipy
lxml
pydub
fastapi
soundfile
omegaconf
pypinyin
vocos
pandas
vector_quantize_pytorch
einops
transformers~=4.41.1
omegaconf~=2.3.0
tqdm
# torch
# torchvision
# torchaudio

# TN
emojiswitch
python-dotenv
zhon
mistune==3.0.2

# gradio
gradio==4.39.0
gradio_client==1.1.1

# audio_denoiser
python-box
ftfy
librosa
pyrubberband
pybase16384
cachetools
langdetect
# NOTE: wetext 依赖 pynini 无法在 Windows 上安装
# WeTextProcessing

#### fish-speech
hydra-core
loguru
lightning
natsort
pyrootutils
loralib
wandb

### cosyvoice
hyperpyyaml
openai-whisper
onnxruntime
inflect
matcha-tts

# whisper
faster_whisper
