numpy==1.26.4
scipy
lxml
pydub
fastapi
soundfile
omegaconf
pypinyin
pandas
vector_quantize_pytorch
einops
omegaconf~=2.3.0
tqdm
huggingface-hub==0.23.2
vocos==0.0.1
transformers==4.46.2
torch
torchvision
torchaudio
python-ms

# colab
datasets

# TN
emojiswitch
python-dotenv
zhon
mistune==3.0.2

# gradio
gradio==4.44.0
gradio_client==1.3.0

cn2an
# audio_denoiser
python-box
ftfy
librosa
pyrubberband
pybase16384
cachetools
langdetect
WeTextProcessing

#### fish-speech
hydra-core
loguru
lightning
natsort
pyrootutils
loralib
wandb

### cosyvoice
hyperpyyaml
openai-whisper
onnxruntime
inflect
matcha-tts==0.0.6.0

# whisper
faster_whisper

# webui
pysubs2

# OpenVoice
eng-to-ipa
jieba
cn2an

### fire red tts
lingua-language-detector

### F5 TTS
torchdiffeq==0.2.4
x-transformers==1.39.1
ema-pytorch==0.7.0
funasr==1.1.12
jiwer==3.0.4
zhconv==1.4.3


### webui tools
moviepy==1.0.3

### downloader script
modelscope
