absl-py==2.1.0
accelerate==0.31.0
aiofiles==23.2.1
aiohttp==3.9.5
aioprometheus==23.12.0
aiosignal==1.3.1
alembic==1.13.2
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.2.2
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audio-denoiser==0.1.1
audioread==3.0.1
audiotsm==0.1.2
autopage==0.5.2
autopep8==2.3.0
av==12.3.0
Babel==2.15.0
beautifulsoup4==4.12.3
bibtexparser==2.0.0b7
black==24.4.2
bleach==6.1.0
build==1.2.2.post1
CacheControl==0.14.0
cachetools==5.3.3
celluloid==0.2.0
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
cliff==4.7.0
clldutils==3.22.2
cloudpickle==3.0.0
cmaes==0.10.0
cmake==3.29.6
cmd2==2.4.3
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
conformer==0.3.2
contourpy==1.2.1
coverage==7.5.3
crashtest==0.4.1
cryptography==43.0.1
csvw==3.3.0
ctranslate2==4.3.1
cycler==0.12.1
Cython==3.0.10
datasets==2.20.0
debugpy==1.8.2
decorator==5.1.1
deepspeed==0.12.4
defusedxml==0.7.1
diffusers==0.25.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dlinfo==1.2.1
dnspython==2.6.1
docker-pycreds==0.4.0
dulwich==0.21.7
einops==0.8.0
einx==0.2.2
email_validator==2.1.1
emojiswitch==0.0.3
encodec==0.1.1
eng-to-ipa==0.0.2
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
faster-whisper==1.0.3
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.53.0
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.5.0
ftfy==6.2.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
gradio==4.44.0
gradio_client==1.3.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
hjson==3.1.0
html2text==2024.2.26
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.2
humanfriendly==10.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
HyperPyYAML==1.2.2
identify==2.6.0
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
iniconfig==2.0.0
installer==0.7.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
jaraco.classes==3.4.0
jedi==0.19.1
jeepney==0.8.0
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keyring==24.3.1
kiwisolver==1.4.5
langdetect==1.0.9
language-tags==1.2.0
lark==1.1.9
lazy_loader==0.4
librosa==0.10.1
lightning==2.3.3
lightning-utilities==0.11.5
lingua-language-detector==2.0.2
llvmlite==0.42.0
lm-format-enforcer==0.10.1
loguru==0.7.2
loralib==0.1.2
lxml==5.2.2
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nodeenv==1.9.1
notebook==7.2.1
notebook_shim==0.2.4
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.555.43
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnxruntime==1.18.1
openai==1.35.8
openai-whisper==20231117
optuna==2.10.1
orjson==3.10.3
outlines==0.0.46
overrides==7.7.0
packaging==24.0
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pbr==6.0.0
peft==0.11.1
pexpect==4.9.0
phonemizer==3.2.1
pillow==10.3.0
pip-tools==7.4.1
pkginfo==1.11.1
platformdirs==4.2.2
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
pooch==1.8.2
pre-commit==3.7.1
prettytable==3.10.2
proces==0.1.7
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==5.9.8
ptflops==0.7.1.2
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.3.14
pyairports==2.1.1
pyarrow==16.1.0
pyarrow-hotfix==0.6
pybase16384==0.3.7
pycodestyle==2.12.0
pycountry==24.6.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
Pygments==2.18.0
pylatexenc==2.10
pylint==3.2.3
pynini==2.1.5
pynvml==11.5.0
pyparsing==3.1.2
pyperclip==1.9.0
pypinyin==0.51.0
pyproject_hooks==1.2.0
pyrootutils==1.0.4
pyrubberband==0.3.0
PySocks==1.7.1
PySoundFile==0.9.0.post1
pysubs2==1.7.3
pytest==8.2.2
pytest-cov==5.0.0
python-box==7.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-ms==1.1.0
python-multipart==0.0.9
pytorch-lightning==2.3.3
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
quantile-python==1.1
RapidFuzz==3.10.0
ray==2.31.0
rdflib==7.0.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.0
rootutils==1.0.7
rpds-py==0.18.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.4.7
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.11.4
seaborn==0.13.2
SecretStorage==3.3.3
segments==2.2.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.10.0
setproctitle==1.3.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.31
stack-data==0.6.3
starlette==0.37.2
stevedore==5.2.0
sympy==1.12.1
tabulate==0.8.10
tensorboard==2.17.0
tensorboard-data-server==0.7.2
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch @ https://mirror.sjtu.edu.cn/pytorch-wheels/cu121/torch-2.3.1%2Bcu121-cp310-cp310-linux_x86_64.whl
torch-tb-profiler==0.4.3
torchaudio @ https://mirror.sjtu.edu.cn/pytorch-wheels/cu121/torchaudio-2.3.1%2Bcu121-cp310-cp310-linux_x86_64.whl
torchmetrics==1.4.0.post0
torchvision @ https://mirror.sjtu.edu.cn/pytorch-wheels/cu121/torchvision-0.18.1%2Bcu121-cp310-cp310-linux_x86_64.whl
torchviz==0.0.2
tornado==6.4.1
tqdm==4.66.3
traitlets==5.14.3
transformer_engine==0.0.0
transformers==4.46.2
triton==2.3.1
trove-classifiers==2024.9.12
typeguard==4.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.0
tzdata==2024.1
ujson==5.10.0
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.30.0
uvloop==0.19.0
vector-quantize-pytorch==1.14.24
virtualenv==20.26.3
vocos==0.1.0
wandb==0.17.4
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.3
WeTextProcessing==1.0.3
xformers==0.0.23.post1
xxhash==3.4.1
yarl==1.9.4
zhon==2.0.2
zipp==3.19.2

### matcha tts
conformer==0.3.2
wget==3.2

### F5 TTS
torchdiffeq==0.2.4
x-transformers==1.39.1
ema-pytorch==0.7.0
funasr==1.1.12
jiwer==3.0.4
zhconv==1.4.3

### Gpt So Vits
fast-langdetect==0.3.2
split-lang==2.1.0
ffmpeg-python==0.2.0
wordsegment==1.3.1
g2p_en==2.1.0
nltk==3.9.1
g2pk2==0.0.3
ko_pron==1.3

### webui tools
moviepy==1.0.3

### downloader script
modelscope==1.20.0

### whisper
stable-ts==2.19.0

### cosyvoice
pyworld==0.3.5
gdown==5.2.0
