numpy==1.26.4
scipy==1.11.4
lxml==5.2.2
pydub==0.25.1
fastapi==0.111.0
soundfile==0.13.1
omegaconf==2.3.0
pypinyin==0.51.0
vocos
pandas==2.1.3
vector_quantize_pytorch==1.14.24
einops==0.8.0
transformers==4.57.3
tqdm
python-ms==1.1.0

huggingface-hub==0.34.4
diffusers==0.35.1
peft==0.17.1
accelerate==1.8.1

json5==0.13.0

# colab
datasets==2.20.0

# TN
emojiswitch==0.0.3
python-dotenv==1.0.1
zhon==2.0.2
mistune==3.0.2

# gradio
gradio==4.44.0
gradio_client==1.3.0
## NOTE: pydantic 不要升到 2.11 会报错！
pydantic==2.8.2 
pydantic-core==2.20.1

# audio_denoiser
python-box==7.1.1
ftfy==6.2.0
librosa==0.10.1
pyrubberband==0.4.0
pybase16384==0.3.8
cachetools==5.3.3
langdetect==1.0.9
WeTextProcessing; sys_platform=="linux"

#### fish-speech
hydra-core==1.3.2
loguru==0.7.2
lightning==2.3.3
natsort==8.4.0
pyrootutils==1.0.4
loralib==0.1.2
wandb==0.17.4

### cosyvoice
hyperpyyaml==1.2.3
openai-whisper
onnxruntime
inflect==7.3.1
unidecode==1.3.8
pyworld==0.3.5
gdown==5.2.0

### sensevoice
resampy==0.4.3

### matcha tts
conformer==0.3.2
wget==3.2

# whisper
faster_whisper==1.0.3
stable-ts==2.19.0

# webui
pysubs2==1.7.3

# OpenVoice
eng-to-ipa==0.0.2
jieba==0.42.1
cn2an==0.5.22

### fire red tts
lingua-language-detector==2.0.2

### F5 TTS
torchdiffeq==0.2.4
x-transformers==1.39.1
ema-pytorch==0.7.0
funasr
jiwer==3.0.4
zhconv==1.4.3
tomli==2.2.1

### Gpt So Vits
fast-langdetect==0.3.2
split-lang==2.1.0
ffmpeg-python==0.2.0
wordsegment==1.3.1
g2p_en==2.1.0
nltk==3.9.1
g2pk2==0.0.3 
ko_pron==1.3

### webui tools
moviepy==1.0.3

### downloader script
modelscope

### Index-TTS v2
munch==4.0.0
descript-audiotools==0.7.2

### Qwen3-TTS
sox==1.5.0

### PyTorch Dependencies (using custom source for CUDA)
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126